

.piso{height: 242.5px;
	
	background-color: #B3B3B3;
	float: left;

}
.tabl{
	margin: 15px;
	padding: 15px;
	
	margin-top: 110px;
	position: relative;
	z-index: -1;

}
.pasto{
	background-color: #09BD29;
	height: 50px;
	left: 15px;
	padding: 0;
}
.ventana{
position: relative;
top: 14px;
height: 84px;
width: 84px;
float: left;
background-color:#66CCFF;
z-index: +1;
margin: 10px;


}

.puerta,.puerta-d{
	background: orange;
position: relative;
top:70px;
left: 20px;
height: 168px;
width: 84px;
float: left;
background-color:#orange;
z-index: +1;

}
.puerta-d{
margin-right: 40px;

}
.btn-primary{
    position: absolute;
    height: 80px;
    width: 160px;
    top: -60px;
    left: 4%;
}

